@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.activeText {
  @apply relative rounded-l-full bg-white text-navBg2 transition-all duration-200 ease-in-out;
}

/* .activeImg {
  @apply color
} */

.activeText::before {
  padding: 10px;
  content: "";
  position: absolute;
  background-color: transparent;
  right: 0px;
  top: 100%;
  height: 100%;
  width: 20%;
  border-top-right-radius: 50%;
  box-shadow: 0 -25px 0 0 white;
  transition: all 200 ease-in-out;
}

.activeText::after {
  padding: 10px;
  content: "";
  position: absolute;
  background-color: transparent;
  right: 0px;
  bottom: 100%;
  height: 100%;
  width: 20%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 25px 0 0 white;
  transition: all 200 ease-in-out;
}

.button-active {
  @apply scale-105 bg-[#347832] p-[0.85rem] text-white;
}

.button-passive {
  @apply bg-[#4d714c] p-3;
}

::-webkit-scrollbar {
  /* display: none; */
  height: 8px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  scroll-padding: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d0a453;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid #d1d5db;
  /* Light gray */
  border-top: 4px solid #22c55e;
  /* Green */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes slideIn {
  from {
    transform: translateX(6%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
  }
}

.fromLeft {
  animation: slideIn;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes slideOut {
  from {
    transform: translateX(-10%);;
    opacity: 0.5;
  }
  to {
    transform: translateX(0%);
  }
}

.fromRight {
  animation: slideOut;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
