@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  @apply bg-white text-black rounded-l-2xl;
}

.active img {
  @apply bg-navBg1 rounded-none p-0 border-l-2 border-white pl-1;
}