@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.activeText {
  @apply bg-white text-black rounded-l-full transition-all duration-200 ease-in-out relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.activeText::before {
  content: "";
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 100%;
  height: 100%;
  width: 20%;
  border-top-right-radius: 50%;
  box-shadow: 0 -25px 0 0 white;
  transition: all 200 ease-in-out;
}

.activeText::after {
  content: "";
  position: absolute;
  background-color: transparent;
  right: 0px;
  bottom: 100%;
  height: 100%;
  width: 20%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 25px 0 0 white;
  transition: all 200 ease-in-out;
}

.activeImg {
  @apply rounded-none transition-all duration-200 ease-out bg-none border-l-2 p-2;
}

.m::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #FFA500;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #705013;
}